Repository Tamas-Leung/CodeChamp, pull requests merged in 2022-11, with the labels that each got.

#59 Problems api, database setup, fixed husky problems
  .husky/pre-commit
  src/backend/.eslintrc.json
  src/backend/.prettierignore
  src/backend/README.md
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/src/app.js
  src/backend/src/database/mongoose.js
  src/backend/src/database/schemas/problems.js
  src/backend/src/routes/problems.js
Labels: backend, database

#60 [FE] Add material to angular frontend
  src/frontend/angular.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/app/app.module.ts
  src/frontend/src/index.html
  src/frontend/src/styles.scss
Labels: frontend

#62 Fixed husky issues
  src/frontend/package.json
Labels: bug

#61 [FC][CE] Create code editor and problem view
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/app/app-routing.module.ts
  src/frontend/src/app/app.component.html
  src/frontend/src/app/app.component.scss
  src/frontend/src/app/app.module.ts
  src/frontend/src/app/problem/code-editor/code-editor.component.html
  src/frontend/src/app/problem/code-editor/code-editor.component.scss
  src/frontend/src/app/problem/code-editor/code-editor.component.spec.ts
  src/frontend/src/app/problem/code-editor/code-editor.component.ts
  src/frontend/src/app/problem/problem-description/problem-description.component.html
  src/frontend/src/app/problem/problem-description/problem-description.component.scss
  src/frontend/src/app/problem/problem-description/problem-description.component.spec.ts
  src/frontend/src/app/problem/problem-description/problem-description.component.ts
  src/frontend/src/app/problem/problem.component.html
  src/frontend/src/app/problem/problem.component.scss
  src/frontend/src/app/problem/problem.component.spec.ts
  src/frontend/src/app/problem/problem.component.ts
  src/frontend/src/styles.scss
Labels: frontend, problem
