Repository Tamas-Leung/CodeChamp, pull requests merged in 2023-01, with the labels that each got.

#79 [FE][Lobby] Add join lobby by code feature
  src/frontend/src/app/startpage/startpage.component.html
Labels: frontend, game menu, lobby

#81 [BE][Lobby] Add readable game IDs
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/src/services/ws/index.js
Labels: backend, lobby

#86 [FE][Lobby] Update lobby ui
  src/frontend/src/app/lobby/lobby.component.html
  src/frontend/src/app/lobby/lobby.component.scss
  src/frontend/src/app/lobby/lobby.component.ts
  src/frontend/src/assets/img/content_copy.png
Labels: frontend, lobby

#96 [Docs] Fixed small error in module guide
  docs/Design/MG/MG.pdf
  docs/Design/MG/MG.tex
Labels: docs

#97 [Docs] Fixing MG
  docs/Design/MG/MG.pdf
  docs/Design/MG/MG.tex
Labels: docs

#98 [Docs] Fixed mg pdf
  docs/Design/MG/MG.pdf
Labels: docs

#99 [FE] Added Profile page
  src/frontend/src/app/app-routing.module.ts
  src/frontend/src/app/app.module.ts
  src/frontend/src/app/myprofile/myprofile.component.html
  src/frontend/src/app/myprofile/myprofile.component.scss
  src/frontend/src/app/myprofile/myprofile.component.spec.ts
  src/frontend/src/app/myprofile/myprofile.component.ts
  src/frontend/src/app/startpage/startpage.component.html
  src/frontend/src/app/startpage/startpage.component.ts
  src/frontend/src/app/types/PlayerData.ts
Labels: frontend, profile

#100 [FE] Added Leaderboard page
  src/frontend/src/app/app-routing.module.ts
  src/frontend/src/app/app.module.ts
  src/frontend/src/app/leaderboard/leaderboard.component.html
  src/frontend/src/app/leaderboard/leaderboard.component.scss
  src/frontend/src/app/leaderboard/leaderboard.component.spec.ts
  src/frontend/src/app/leaderboard/leaderboard.component.ts
  src/frontend/src/app/startpage/startpage.component.html
  src/frontend/src/app/startpage/startpage.component.ts
Labels: frontend, leaderboard
