Repository Tamas-Leung/CodeChamp, pull requests merged in 2023-02, with the labels that each got.

#121 Overhaul Problem description UI
  src/frontend/src/app/problem/problem-description/problem-description.component.html
  src/frontend/src/app/problem/problem-description/problem-description.component.scss
  src/frontend/src/app/problem/problem-description/problem-description.component.ts
  src/frontend/src/app/problem/problem.component.html
  src/frontend/src/app/problem/problem.component.ts
  src/frontend/src/app/services/problems/problems.service.ts
Labels: frontend, problem

#122 Timer Fix
  src/backend/src/services/ws/index.js
  src/frontend/src/app/problem/problem.component.ts
Labels: bug

#129 [BE][Leaderboard] Add leaderboard route
  src/backend/src/routes/matchs.js
Labels: backend, leaderboard

#128 [BE][Lobby][Bug] Fix bug where clients were not removed from prev games
  src/backend/src/services/ws/index.js
Labels: bug, backend, lobby

#126 [FE][Problem] Update status bar of problem view
  src/frontend/src/app/problem/problem.component.html
  src/frontend/src/app/problem/problem.component.scss
  src/frontend/src/app/problem/problem.component.ts
Labels: frontend, problem

#131 [BE][Bug] Fix reconnect bug
  src/backend/src/services/ws/index.js
Labels: bug, backend

#132 Re-enable submission for next round
  src/frontend/src/app/problem/code-editor/code-editor.component.ts
Labels: bug, frontend

#138 [FE]Fixed grammar issue on profile page
  src/frontend/src/app/myprofile/myprofile.component.html
Labels: frontend
